.table-border {
    border: 1px solid #eee;
}
.action-bar ul {
    padding: 0;
}

.action-bar ul li {
    list-style: none;
    display: inline;
    margin: 0 5px;
}

.action-bar ul li .lni-pencil-alt {
    font-size: 16px;
}

.action-bar ul li .lni-trash {
    font-size: 16px;
}

.auth-error {
    padding: 0;
    margin: 0;
}

.auth-error li {
    color: #880000;
    list-style: none;
    padding: 10px;
}
